/* Global element styles scoped to personal_projects */
h3 {
  color: rgb(154, 204, 248);
}

h5 {
  color: rgb(112, 188, 255);
}

p {
  color: white;
}

h2,
h1 {
  color: rgb(235, 245, 255);
  margin-top: 0;
}

h2 {
  font-size: x-large;
}
