.mainDiv {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(245, 245, 245);
  padding: 0%;
  position: fixed;
  cursor: url('/Cursors/Wii-Curso-plain.png'), pointer;
  top: 0px;
  left: 0px;
}
