

.tab{
  background-color:rgb(8, 63, 88);
  color: white;
}

.tab:hover{
background-color: #122269;
}

.selected_tab{
  background-color: rgba(0, 0, 0, 0.74);
  border-bottom:white;
  color: white;
}
