$channel-button-height: 40%;
    $channel-button-width: 40%;
    $channel-button-offset: -5%;
    $border-radius: 40px;

  .play-button{
    position: relative;
    height: $channel-button-height;
    width: $channel-button-width;
    right: $channel-button-offset;
    text-align: center;
    top: 20%;
  }

  .big-channel-container{
    position: fixed;
    max-width: 30vw;
    max-height: 30vh;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    transition: all 1s;
    border-radius: $border-radius;
  }

  .channel-buttons{
    max-width: 400px;
  }

  .channel-container {
    padding: 1px;
    border-radius: $border-radius;
    max-height: 25vh;
    max-width: 20vw;
    // text-align: center;
  }

  .channel-container:hover {
    // background: linear-gradient(skyblue, blue);
    box-shadow: 0px 0px 100px 100px lightblue inset;
  }


  .channel-box {
    padding: 2px;
    height: 20vh;
    width: 19.85vw;
    overflow: hidden;
    border-radius: $border-radius;
    transition: all 1s;
    z-index: 1;
    animation: z-high 1s linear;
  }

  @keyframes z-high{
    0%{
      z-index: 100;
    }
    100%{
      z-index: 100;
    }
  }

  .channel-box:hover{
    box-shadow: 0px 0px 10px 10vh lightblue inset;
  }


  .channel-image {
    object-fit: inherit;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    text-align: center;
  }

  .menu-button{
    position: relative;
    height: $channel-button-height;
    width: $channel-button-width;
    left: $channel-button-offset;
    text-align: center;
    top: 20%;
  }

  .channel-bar{
    position: absolute;
    left: 0%;
    height: 15vh;
    width: 100vw;
    bottom: 20vh;
    display:block;
    z-index: 4;
    border-radius: $border-radius;
  }

  .glass{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.253);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(15, 164, 250, 0.3);
  }