$channel-button-height: 40%;
    $channel-button-width: 40%;
    $channel-button-offset: -5%;
    $border-radius: 40px;

  .play-button{
    position: relative;
    height: $channel-button-height;
    width: $channel-button-width;
    right: $channel-button-offset;
    text-align: center;
    top: 20%;
  }

  .big-channel-container{
    position: fixed;
    width: 30vmin;
    height: 30vmin;
    z-index: 50;
    transition: all 1s;
    border-radius: $border-radius;
  }

  .channel-buttons{
    max-width: 400px;
  }

  .channel-container {
    padding: 1px;
    border-radius: $border-radius;
    max-height: 400px;
    max-width: 400px;
    // text-align: center;
  }

  .channel-container:hover {
    // background: linear-gradient(skyblue, blue);
    box-shadow: 0px 0px 200px 200px lightblue inset;
  }


  .channel-box {
    padding: 2px;
    height: 22vmin;
    width: 22vmin;
    max-height: 400px;
    max-width: 400px;
    // overflow: hidden;
    border-radius: $border-radius;
    transition: all 1s;
    z-index: 1;
    animation: z-high 1s linear;
  }

  @keyframes z-high{
    0%{
      z-index: 100;
    }
    100%{
      z-index: 100;
    }
  }

  .channel-box:hover{
    box-shadow: 0px 0px 10px 10vh lightblue inset;
  }

  .menu-button{
    position: relative;
    height: $channel-button-height;
    width: $channel-button-width;
    left: $channel-button-offset;
    text-align: center;
    top: 20%;
  }

  .channel-bar{
    position: absolute;
    left: 0%;
    height: 15vh;
    width: 100vw;
    bottom: 20vh;
    display:block;
    z-index: 4;
    border-radius: $border-radius;
  }

  .glass{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.253);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(15, 164, 250, 0.3);
  }

  #grid-container {
    display:grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    gap: 1%;
    max-width: 100vw;
    padding: 1.5%;
  }

  .future-button{
    background: rgba(44, 188, 255, 0.363);
    border: 2px solid black;
    justify-content: center;
    transition: transform 500ms;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    cursor: url("/Cursors/wii-open2.png") ,pointer;
  }

  .future-button:hover{
    background: rgba(24, 182, 255, 0.747);
  }

  @media (max-width: 600px){
    .channel-box {
      padding: 2px;
      height: 35vmin;
      width: 35vmin;
      // overflow: hidden;
      border-radius: $border-radius;
      transition: all 1s;
      z-index: 1;
      animation: z-high 1s linear;
    }
    #grid-container {
      display:grid;
      grid-template-columns: repeat(2, 0fr);
      grid-template-rows: repeat(4, 1fr);
      text-align: center;
      justify-content: center;
    }

    .big-channel-container{
      position: fixed;
      width: 50vmin;
      height: 50vmin;
      z-index: 50;
      transition: all 1s;
      border-radius: $border-radius;
    }
  }