.slide-in-moon {
  animation: slideMoonIn 0.3s linear(0, 1) forwards;
}

.slide-in-moon-reflected {
  animation: slideMoonReflected 0.3s linear(0, 1) forwards;
}

.remove-gradient {
    animation: removeGradient 2s ease-in forwards;
}

@keyframes slideMoonIn {
  100% {
    left: var(--left-slide);
    top: var(--top-slide);
  }
}

@keyframes slideMoonReflected {
  100% {
    left: var(--left-slide);
    bottom: var(--bottom-slide);
  }
}

@keyframes fillInBlack {
  100% {
    background-color: black;
  }
}

@keyframes removeGradient{
    from{
        background-image: radial-gradient(circle at var(--grad-x) var(--grad-y), 
    rgba(137, 43, 226, 0.397), rgba(6, 6, 109, 0.397), rgba(6, 6, 109, 0.185));
    }
    to{
        background-image: radial-gradient(circle at var(--grad-x) var(--grad-y), black);
    }
}

@keyframes rotateDreamText {
    
     100% {
        transform: rotate(var(--end-pos));
    }
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(5deg); }
  10% { transform: translate(-1px, -5px) rotate(-1deg); }
  20% { transform: translate(-3px, 10px) rotate(3deg); }
  30% { transform: translate(13px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -11px) rotate(10deg); }
  50% { transform: translate(-11px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(50deg); }
  70% { transform: translate(3px, 101px) rotate(-1deg); }
  80% { transform: translate(-101px, -1px) rotate(100deg); }
  90% { transform: translate(1px, 201px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes swim-right{
  from {
    left: var(--l-val)
  }
   to {
    left: 110vw;
  }
}

