/* Global styles for the about_me gradient animation */
:root {
  --color3: 3, 53, 252;
  --color4: 3, 53, 252;
  --color5: 106, 0, 255;
  --color-interactive: 3, 53, 252;
  --circle-size: 80%;
  --blending: hard-light;
}

svg {
  display: none;
}
